<div ng-controller="exploreController">Hello Explorer with is: {{uidSelected}}
	<div id="graphx0"></div>
	<div ng-controller="exploreController">Hello Explorer with is: {{uidSelected}}
	<div id="graphx0"></div>
</div>
<!-- <div>
		<table id="examplepore" class="table display table-striped table-bordered" cellspacing="0" width="100%">
		<tHead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Salary</th>
		</tr>
		</tHead>
		<tbody>
		<tr>
			<td>Tiger Nixon</td>
			<td>61</td>
			<td>$320,800</td>
		</tr>
		<tr>
			<td>Garrett Winters</td>
			<td>63</td>
			<td>$170,750</td>
		</tr>
		<tr>
			<td>Ashton Cox</td>
			<td>66</td>
			<td>$86,000</td>
		</tr>
		</tbody>
	</table>
	</div> -->