
<div class="container">
	<div class="container-fluid">
		<div ng-include="'partials/hiv/alerts.html'"></div>
		<div ng-controller="HivTabCtrl">
			<div>
				<ul class="nav nav-tabs">
					<li ng-class="{active:isSelected(1)}" data-toggle="tab" title="Hiv Home Summary">
						<a href ng-click="selectTab(1)">Home</a>
					</li>
					<li ng-class="{active:isSelected(2)}" data-toggle="tab" title="Hiv System Summary">
						<a href ng-click="selectTab(2)">HIV System</a>
					</li>
					<li ng-class="{active:isSelected(3)}" data-toggle="tab" title="Hiv Inputs Summary">
						<a href ng-click="selectTab(3)">HIV Inputs</a>
					</li>
					<li ng-class="{active:isSelected(4)}" data-toggle="tab" title="Hiv Delivery Summary">
						<a href ng-click="selectTab(4)">HIV Delivery</a>
					</li>
					<li ng-class="{active:isSelected(5)}" data-toggle="tab" title="Hiv Coverage Summary">
						<a href ng-click="selectTab(5)">Coverage</a>
					</li>
					<li ng-class="{active:isSelected(6)}" data-toggle="tab" title="Hiv Outcomes Summary">
						<a href ng-click="selectTab(6)">Outcomes</a>
					</li>
				</ul>
			</div>
			<div style="height: 5px;"></div>
			<div class="tab-pane" ng-show="isSelected(1)">
				<div ng-include="'partials/hiv/hiv_home.html'"></div>
			</div>
			<div class="tab-pane" ng-show="isSelected(2)">
				<!-- <div ng-include="'partials/hiv/hiv_system.html'"></div> -->
				<div ng-controller="hivSystemCtrl">
					<div id="dashHivSystem" class="row">hiv system</div>
				</div>
			</div>
			<div class="tab-pane" ng-show="isSelected(3)">
				<!-- <div ng-include="'partials/hiv/hiv_inputs.html'"></div> -->
				<div ng-controller="hivInputsCtrl">
					<div id="dashHivInputs" class="row"></div>
				</div>
			</div>
			<div class="tab-pane" ng-show="isSelected(4)">
				<!-- <div ng-include="'partials/hiv/hiv_delivery.html'"></div> -->
				<div ng-controller="hivServDlvryCtrl">
					<div id="dashHivDelivery" class="row"></div>
				</div>
			</div>
			<div class="tab-pane" ng-show="isSelected(5)" >
				<!-- <div ng-include="'partials/hiv/hiv_coverage.html'"></div> -->
				<div ng-controller="hivCoverageCtrl">
					<div id="dashHivCoverage" class="row"></div>
				</div>
			</div>
			<div class="tab-pane" ng-show="isSelected(6)">
				<!-- <div ng-include="'partials/hiv/hiv_outcomes.html'"></div> -->
				<div ng-controller="hivOutcomesCtrl">
					<div id="dashHivOutcomes" class="row"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>